.DS_Store
.env
.env.*
.fleet
.idea
.nova
.phpactor.json
.phpunit.cache
.phpunit.result.cache
.vscode
.zed
Homestead.json
Homestead.yaml
auth.json
database/database.sqlite
node_modules
npm-debug.log
public/build
public/hot
public/storage
storage/*.key
storage/framework
storage/logs
storage/pail
tests
vendor
yarn-error.log
